.custom-shape-divider-bottom-1717894530 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717894530 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1717894530 .shape-fill {
    fill: #DDE6ED;
}