.slick-slide {
    padding: 0 5px;
    /* Adjust the padding as needed */
}

.slick-list {
    margin: 0 -5px;
    /* Adjust the margin to match the padding */
}

.custom-shape-divider-bottom-1717994980 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717994980 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1717994980 .shape-fill {
    fill: #FFFFFF;
}