/* Custom arrow styles */
.custom-prev-arrow,
.custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    /* Adjust size as needed */
    color: white;
    /* Arrow color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Arrow background color */
    padding: 30px;
    /* Adjust padding as needed */
    border-radius: 50%;
    margin: 20px;
    /* Make the arrows circular */
    cursor: pointer;

}

.custom-prev-arrow {
    left: 10px;
    /* Adjust left position as needed */
}

.custom-next-arrow {
    right: 10px;
    /* Adjust right position as needed */
}


.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    z-index: 1;
}

.slide-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.slide-caption {
    padding: 20px;
    background: transparent;
    color: black;
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    z-index: 3;
}

.slide-button {
    margin-top: 20px;
    cursor: pointer;
    z-index: 3;

}

.slide-button:hover {
    background-color: rgba(0, 123, 255, 1);
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}

.welcome-text h1 {
    margin: 0.5rem 0;
}